<h1>Welcome to rec page</h1>
<%
values = User.pluck(:likes)
names = User.pluck(:username)
top_scores = Array.new(values.length)
target = current_user.likes
j = 0
value = 0
score = 0.0
k = 0
top1 = 0
top2 = 0
top3 = 0
top4 = 0
nameindex = Array.new(3)
id = current_user.id
while j < values.length
	i = 0
	value = values[j]
	while i < target.length do 
		if target[i].chr == '1' && value[i].chr == '1'
			score += 1
		end
		i += 1
	end
	score = score / 114.0 * 100
	j += 1
	if score >= top1 && j != id
		top3 = top2
		top2 = top1
		top1 = score
		nameindex[2] = nameindex[1]
		nameindex[1] = nameindex[0]
		nameindex[0] = j
	elsif score >= top2 && j != id
		top3 = top2
		top2 = score
		nameindex[2] = nameindex[1]
		nameindex[1] = j
	elsif score >= top3 && j != id
		top3 = score
		nameindex[2] = j
	end
			
	top_scores[k] = score
	k += 1
	
	score = 0
end

top_scores.compact!
%>

<% if values.length >= 4 %>
<p>How about messaging any of these people for a recommendation </p>
<ol>
	<li><%= names[nameindex[0] - 1] %></li>
	<li><%= names[nameindex[1] - 1] %></li>
	<li><%= names[nameindex[2] - 1] %></li> 
</ol>

<% else %>
	<p>Sorry not enough users to recommend you anyone </p>
<%end%>

<% if values.length >= 4 %>
<%= form_for(@message) do |f| %>
	<%= f.label "Pick one of those Usernames" %>
	<br>
	<%= f.text_field_tag "Username" %>
	<br>
	<%= f.label "Ask for a recommendation" %>
	<br>
	<%= f.text_area :body, style: 'width: 75%; height: 100px; text-align: left;' %>
	<p></p>
	<%= f.submit "submit" %>
<%end%>
<%end%>