<%= form_for(@message, url: "/messages/reply") do |f| %>
	<br>
	<%= f.hidden_field_tag "sender Id", "#{@to_reply.id}" %>
	<%= f.hidden_field_tag "reply Id", "#{@message.reply_id}" %>
	<%= f.label "Message" %>
	<p></p>
	<%= f.text_area :body, style: 'width: 75%; height: 100px; text-align: left;'%>
	<p></p>
	<%= f.submit "submit" %>
<%end%>