<h1>Welcome to likes page</h1>
<p></p>

<%= form_tag do %>
<%= check_box_tag(:like_acoustic) %>
<%= label_tag(:like_acoustic, "Acoustic\n") %>

<%= check_box_tag(:like_altcountry) %>
<%= label_tag(:like_altcountry, "Alt-Country ") %>

<%= check_box_tag(:like_alternative) %>
<%= label_tag(:like_alternative, "Alternative") %>

<%= check_box_tag(:like_ambient) %>
<%= label_tag(:like_ambient, "Ambient") %>

<%= check_box_tag(:like_americana) %>
<%= label_tag(:like_americana, "Americana") %>

<%= check_box_tag(:like_artrock) %>
<%= label_tag(:like_artrock, "Art Rock") %>

<%= check_box_tag(:like_atmBM) %>
<%= label_tag(:like_atmBM, "Atmospheric Black Metal") %>

<%= check_box_tag(:like_avantgarde) %>
<%= label_tag(:like_avantgarde, "Avant-Garde") %>

<p></p>
<%= check_box_tag(:like_beats) %>
<%= label_tag(:like_beats, "Beats") %>

<%= check_box_tag(:like_bedroompop) %>
<%= label_tag(:like_bedroompop, "Bedroom Pop") %>

<%= check_box_tag(:like_blackmetal) %>
<%= label_tag(:like_blackmetal, "Black Metal") %>

<%= check_box_tag(:like_bluegrass) %>
<%= label_tag(:like_bluegrass, "Blue Grass") %>

<%= check_box_tag(:like_blues) %>
<%= label_tag(:like_blues, "Blues") %>

<%= check_box_tag(:like_breakbeat) %>
<%= label_tag(:like_breakbeat, "Breakbeat") %>

<%= check_box_tag(:like_breakcore) %>
<%= label_tag(:like_breakcore, "Breakcore") %>

<%= check_box_tag(:like_chillwave) %>
<%= label_tag(:like_chillwave, "Chillwave") %>

<%= check_box_tag(:like_chiptune) %>
<%= label_tag(:like_chiptune, "Chiptune") %>

<%= check_box_tag(:like_christian) %>
<%= label_tag(:like_christian, "Christian") %>
<p></p>

<%= check_box_tag(:like_christmas) %>
<%= label_tag(:like_christmas, "Christmas") %>

<%= check_box_tag(:like_classical) %>
<%= label_tag(:like_classical, "Classical") %>

<%= check_box_tag(:like_country) %>
<%= label_tag(:like_country, "Country") %>

<%= check_box_tag(:like_crust) %>
<%= label_tag(:like_crust, "Crust") %>

<%= check_box_tag(:like_dance) %>
<%= label_tag(:like_dance, "Dance") %>

<%= check_box_tag(:like_dancehall) %>
<%= label_tag(:like_dancehall, "Dancehall") %>

<%= check_box_tag(:like_darkamb) %>
<%= label_tag(:like_darkamb, "Dark Ambient") %>

<%= check_box_tag(:like_deathcore) %>
<%= label_tag(:like_deathcore, "Deathcore") %>

<%= check_box_tag(:like_deathmet) %>
<%= label_tag(:like_deathmet, "Death Metal") %>

<p></p>

<%= check_box_tag(:like_deephouse) %>
<%= label_tag(:like_deephouse, "Deep House") %>

<%= check_box_tag(:like_depbm) %>
<%= label_tag(:like_depbm, "Depressive Black Metal") %>

<%= check_box_tag(:like_djent) %>
<%= label_tag(:like_djent, "Djent") %>

<%= check_box_tag(:like_doom) %>
<%= label_tag(:like_doom, "Doom") %>

<%= check_box_tag(:like_doommet) %>
<%= label_tag(:like_doommet, "Doom Metal") %>

<%= check_box_tag(:like_downtemp) %>
<%= label_tag(:like_downtemp, "Downtempo") %>

<%= check_box_tag(:like_dreampop) %>
<%= label_tag(:like_dreampop, "Dream Pop") %>

<%= check_box_tag(:like_drone) %>
<%= label_tag(:like_drone, "Drone") %>
<p></p>

<%= check_box_tag(:like_drumbass) %>
<%= label_tag(:like_drumbass, "Drum & Bass") %>

<%= check_box_tag(:like_dub) %>
<%= label_tag(:like_dub, "Dub") %>

<%= check_box_tag(:like_dubstep) %>
<%= label_tag(:like_dubstep, "Dubstep") %>

<%= check_box_tag(:like_easylistening) %>
<%= label_tag(:like_easylistening, "Easy Listening") %>

<%= check_box_tag(:like_edm) %>
<%= label_tag(:like_edm, "EDM") %>

<%= check_box_tag(:like_electronica) %>
<%= label_tag(:like_electronica, "Electronica") %>

<%= check_box_tag(:like_elecpop) %>
<%= label_tag(:like_elecpop, "Electropop") %>

<%= check_box_tag(:like_emo) %>
<%= label_tag(:like_emo, "Emo") %>

<%= check_box_tag(:like_exp) %>
<%= label_tag(:like_exp, "Experimental") %>
<p></p>

<%= check_box_tag(:like_fieldrec) %>
<%= label_tag(:like_fieldrec, "Field Recordings") %>

<%= check_box_tag(:like_folk) %>
<%= label_tag(:like_folk, "Folk Rock") %>

<%= check_box_tag(:like_freejazz) %>
<%= label_tag(:like_freejazz, "Free Jazz") %>

<%= check_box_tag(:like_funk) %>
<%= label_tag(:like_funk, "Funk") %>

<%= check_box_tag(:like_fusion) %>
<%= label_tag(:like_fusion, "Fusion") %>

<%= check_box_tag(:like_grock) %>
<%= label_tag(:like_grock, "Garage Rock") %>

<%= check_box_tag(:like_glitch) %>
<%= label_tag(:like_glitch, "Glitch") %>

<%= check_box_tag(:like_gospel) %>
<%= label_tag(:like_gospel, "Gospel") %>

<%= check_box_tag(:like_grime) %>
<%= label_tag(:like_grime, "Grime") %>

<%= check_box_tag(:like_gcore) %>
<%= label_tag(:like_gcore, "Grindcore") %>

<p></p>

<%= check_box_tag(:like_groove) %>
<%= label_tag(:like_groove, "Groove") %>

<%= check_box_tag(:like_hrock) %>
<%= label_tag(:like_hrock, "Hard Rock") %>

<%= check_box_tag(:like_hcore) %>
<%= label_tag(:like_hcore, "Hardcore") %>

<%= check_box_tag(:likehiphop) %>
<%= label_tag(:like_hiphop, "Hip-Hop/Rap") %>

<%= check_box_tag(:like_house) %>
<%= label_tag(:like_house, "House") %>

<%= check_box_tag(:like_idm) %>
<%= label_tag(:like_idm, "IDM") %>

<%= check_box_tag(:like_indie) %>
<%= label_tag(:like_indie, "Indie") %>

<%= check_box_tag(:like_indust) %>
<%= label_tag(:like_indust, "Industrial") %>

<%= check_box_tag(:like_instr) %>
<%= label_tag(:like_instr, "Instrumental") %>

<%= check_box_tag(:like_jazz) %>
<%= label_tag(:like_jazz, "Jazz") %>

<%= check_box_tag(:like_krock) %>
<%= label_tag(:like_krock, "Krautrock") %>

<p></p>

<%= check_box_tag(:like_latin) %>
<%= label_tag(:like_latin, "Latin") %>

<%= check_box_tag(:like_lofi) %>
<%= label_tag(:like_lofi, "Lo-fi") %>

<%= check_box_tag(:like_lounge) %>
<%= label_tag(:like_lounge, "Lounge") %>

<%= check_box_tag(:like_mrock) %>
<%= label_tag(:like_mrock, "Math Rock") %>

<%= check_box_tag(:like_mdm) %>
<%= label_tag(:like_mdm, "Melodic Death Metal") %>

<%= check_box_tag(:like_mhc) %>
<%= label_tag(:like_mhc, "Melodic Hardcore") %>

<%= check_box_tag(:like_metal) %>
<%= label_tag(:like_metal, "Metal") %>

<%= check_box_tag(:like_mcore) %>
<%= label_tag(:like_mcore, "Metalcore") %>

<%= check_box_tag(:like_min) %>
<%= label_tag(:like_min, "Minimal") %>

<p></p>

<%= check_box_tag(:like_mclass) %>
<%= label_tag(:like_mclass, "Modern Classical") %>

<%= check_box_tag(:like_mconcrete) %>
<%= label_tag(:like_mconcrete, "Musique Concrete") %>

<%= check_box_tag(:like_nwave) %>
<%= label_tag(:like_nwave, "New Wave") %>

<%= check_box_tag(:like_noise) %>
<%= label_tag(:like_noise, "Noise") %>

<%= check_box_tag(:like_npop) %>
<%= label_tag(:like_npop, "Noise Pop") %>

<%= check_box_tag(:like_pop) %>
<%= label_tag(:like_pop, "Pop") %>

<%= check_box_tag(:like_ppunk) %>
<%= label_tag(:like_ppunk, "Pop Punk") %>

<%= check_box_tag(:like_pcore) %>
<%= label_tag(:like_pcore, "Post-Hardcore") %>

<p></p>

<%= check_box_tag(:like_pmetal) %>
<%= label_tag(:like_pmetal, "Post-Metal") %>

<%= check_box_tag(:like_postpunk) %>
<%= label_tag(:like_postpunk, "Post-Punk") %>

<%= check_box_tag(:like_prock) %>
<%= label_tag(:like_prock, "Post-Rock") %>

<%= check_box_tag(:like_pviol) %>
<%= label_tag(:like_pviol, "Powerviolence") %>

<%= check_box_tag(:like_prog) %>
<%= label_tag(:like_prog, "Progressive") %>

<%= check_box_tag(:like_psych) %>
<%= label_tag(:like_psych, "Psychadelic") %>

<%= check_box_tag(:like_punk) %>
<%= label_tag(:like_punk, "Punk") %>

<%= check_box_tag(:like_rb) %>
<%= label_tag(:like_rb, "R&B") %>

<%= check_box_tag(:like_reg) %>
<%= label_tag(:like_reg, "Reggae") %>

<%= check_box_tag(:like_rock) %>
<%= label_tag(:like_rock, "Rock") %>

<p></p>

<%= check_box_tag(:like_rbilly) %>
<%= label_tag(:like_rbilly, "Rockabilly") %>

<%= check_box_tag(:like_scream) %>
<%= label_tag(:like_scream, "Screamo") %>

<%= check_box_tag(:like_sgaze) %>
<%= label_tag(:like_sgaze, "Shoegaze") %>

<%= check_box_tag(:like_sing) %>
<%= label_tag(:like_sing, "Singer-Songwriter") %>

<%= check_box_tag(:like_sludge) %>
<%= label_tag(:like_sludge, "Sludge") %>

<%= check_box_tag(:like_soul) %>
<%= label_tag(:like_soul, "Soul") %>

<%= check_box_tag(:like_strack) %>
<%= label_tag(:like_strack, "Soundtrack") %>

<%= check_box_tag(:like_srock) %>
<%= label_tag(:like_srock, "Space Rock") %>

<%= check_box_tag(:like_sword) %>
<%= label_tag(:like_sword, "Spoken Word") %>

<p></p>

<%= check_box_tag(:like_strock) %>
<%= label_tag(:like_strock, "Stoner Rock") %>

<%= check_box_tag(:like_surf) %>
<%= label_tag(:like_surf, "Surf") %>

<%= check_box_tag(:like_spop) %>
<%= label_tag(:like_spop, "Synthpop") %>

<%= check_box_tag(:like_swave) %>
<%= label_tag(:like_swave, "Synthwave") %>

<%= check_box_tag(:like_techno) %>
<%= label_tag(:like_techno, "Techno") %>

<%= check_box_tag(:like_thrash) %>
<%= label_tag(:like_thrash, "Thrash") %>

<%= check_box_tag(:like_trance) %>
<%= label_tag(:like_trance, "Trance") %>

<%= check_box_tag(:like_trap) %>
<%= label_tag(:like_trap, "Trap") %>

<%= check_box_tag(:like_thop) %>
<%= label_tag(:like_thop, "Trip Hop") %>

<%= check_box_tag(:like_vwave) %>
<%= label_tag(:like_vwave, "Vaporwave") %>

<p></p>

<%= check_box_tag(:like_vgm) %>
<%= label_tag(:like_vgm, "Video Game Music") %>

<%= check_box_tag(:like_whouse) %>
<%= label_tag(:like_whouse, "Witch House") %>

<%= check_box_tag(:like_world) %>
<%= label_tag(:like_world, "World") %>

<%end%>